#resetPwd h1 {
    margin-top: 10%;
    margin-left: 15%;
    padding-top: 5vw;
    color:#365B6D;
    font-weight:bold;
}

#resetPwd .form-floating {
    width: 60%;
    margin-left: 20%;
}

#resetPwd .form-control {
    margin-top: 50px;
    border-radius: 35px;
    box-shadow:3px 3px #365B6D;
}

#resetPwd .contact-item {
    display: flex;
}

#resetPwd .contact-text span:nth-of-type(1){
    font-size: 20px;
    font-weight:bold;
}

#resetPwd .contact-item image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#resetPwd .contact-item, .contact{
    color:#365B6D
}

#resetPwd button {
    margin-left: 36%;
    margin-top: 25px;
    border-radius: 35px;
    background-color: var(--main-darkblue);
    width: 125px;
    height: 50px;
    font-size: 20px;
    font-weight:bold;
    color: white;
}

#resetPwd button:hover {
    color: var(--main-darkblue);
    background-color: var(--main-yellow);
}

#resetPwd .ff {
    text-align: center;
}

#resetPwd .aa {
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

#resetPwd .aa span:nth-of-type(2) {
    color: #365B6D;
}

#resetPwd .aa span:nth-of-type(4) {
    color: #FEC265;
    text-decoration: underline;
}

#resetPwd .aa span:nth-child(4):hover {
    color: #365B6D;
    text-decoration: underline;
}

#resetPwd .bb {
    width: 750px;
    height: 375px;

    left: 45%;
    bottom:0%;

    background-color: #365B6D;
    border-radius:375px 375px 0 0;/*左上、右上、右下、左下*/
    /* background-color: #365B6D;
    border-radius:667px 667px 0 0;左上、右上、右下、左下 */

    position: absolute;
}
#resetPwd .cc {
    width: 600px;
    height: 300px;

    left: 49%;
    bottom:0%;
    background-color: #FEC265;
    border-radius:300px 300px 0 0;/*左上、右上、右下、左下*/
    /* background-color: #365B6D;
    border-radius:667px 667px 0 0;左上、右上、右下、左下 */

    position: absolute;
}

@media (max-width: 1300px) {
    #resetPwd .bb, #resetPwd .cc{
        display: none;
    }
}

@media (max-height: 850px) {
    #resetPwd .bb, #resetPwd .cc{
        display: none;
    }
}


