/* 商品圖片區塊 */
#gachaDetail .product-image {
    background-color: #365B60;
    position: relative;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
    margin: 0 0 20px 0;
}

#gachaDetail .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 50px 50px 0;
}

/* 商品資訊 */
#gachaDetail .product-info {
    padding: 20px;
    border-radius: 5px;
}

#gachaDetail .pdinfocolor {
    background-color: #FEC265;
    height: 25vh;
    border-radius: 50px 0 0 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 20px 0 0;
}

#gachaDetail .pdinfocolor li {
    list-style: none;
}

/*移除input nuber預設樣式*/
#gachaDetail input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari 和 Chrome */
    appearance: none;
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
}

/*移除預設上下醜箭頭*/
#gachaDetail input[type="number"]::-webkit-inner-spin-button,
#gachaDetail input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#gachaDetail .number-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 20px 10px 20px;
    cursor: pointer;
}

#gachaDetail .number-input input {
    width: 100px;
    text-align: center;
    border-radius: 30px;
    background-color: #F2F1EC;
    border: #FEC265 solid 2px;
    height: 35px;
}

#gachaDetail .number-input input:focus {
    border: #365B60 solid 2px;
}

#gachaDetail .number-input button {
    height: 35px;
    border-radius: 30px;
    width: 100px;
    background-color: #FEC265;
    border: hidden;
    color: #365B60;
}

#gachaDetail .number-input button:hover {
    border: #365B60 solid 2px;
}

/*收藏按鈕css*/
#gachaDetail .Favorite_bt,
#gachaDetail .Restock-bt {
    border: none;
    background-color: #FEC265;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    color: #365B60;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
}

#gachaDetail .Favorite_bt img {
    height: 20px;
    width: auto;
    margin: 0 10px 0 0;
}

#gachaDetail .Favorite_bt:hover {
    transform: scale(1.05);
    /* border: #365B60 solid 2px; */
}

#gachaDetail .Restock-bt:hover {
    border: #365B60 solid 2px;
}

/* 商品種類小圖 */
#gachaDetail #sm-pd-grid {
    max-height: 50vh;
    overflow-y: auto;
}

#gachaDetail #sm-pd-grid .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gachaDetail .small-images {
    height: 25vh;

}

#gachaDetail .small-images img {
    height: 20vh;
    min-width: 200px;
    border-radius: 50px;
}

/*滑動條樣式*/
#gachaDetail #sm-pd-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#gachaDetail #sm-pd-grid::-webkit-scrollbar-track {
    background-color: #F2F1EC;
    border-radius: 10px;
}

#gachaDetail #sm-pd-grid::-webkit-scrollbar-thumb {
    background-color: #365B60;
    border-radius: 10px;
}

/* 大圖顯示區 */
#gachaDetail .big-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 50vh;
    overflow: hidden;
    margin: 20px;
}

#gachaDetail .big-image img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* 導覽按鈕樣式 */
#gachaDetail .nav-tabs {
    border-bottom: 2px solid #365B60;
}

#gachaDetail .nav-tabs .nav-link {
    border-bottom: #365B60 solid 1px;
    color: #365B60;
    background-color: #F2F1EC;
    border-radius: 20px 20px 0 0;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

#gachaDetail .nav-tabs .nav-link:hover {
    background-color: #FEC265;
    color: #365B60;
}

#gachaDetail .nav-tabs .nav-link.active {
    background-color: #365B60;
    border-bottom: #FEC265 solid 2px;
    color: #fff;
    font-weight: bold;
    height: 50px;
}

/* 調整按鈕群對齊方式 */
#gachaDetail .nav-tabs.justify-content-center {
    justify-content: center;
}


/* 靜態圖片區塊 */
#gachaDetail .static-image {
    background-color: #f8f9fa;
    border: 1px dashed #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

#gachaDetail .static-image img {
    max-width: 100%;
    height: auto;
}

/* 底部商品切換 */
/* Carousel 外框 */
#gachaDetail .bottom-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* 滑動區域 */
#gachaDetail .carousel-wrapper {
    overflow: hidden;
    width: 80%;
    /* 設置展示區域寬度 */
}

/* 商品容器 */
#gachaDetail .carousel-items {
    display: flex;
    transition: transform 0.3s ease-in-out;
    flex-wrap: nowrap;
    height: 450px;

}

/* 產品卡樣式 */
.product-card {
    text-align: center;
    margin: 10px;
}

.product-image {
    width: 100%;
    height: auto;
}

/* 輪播容器樣式 */
.carousel-wrapper {
    display: flex;
    overflow: hidden;
}

.item {
    flex: 0 0 auto;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
}

/* 按鈕樣式 */
#gachaDetail .carousel-btn {
    height: 450px;
    position: absolute;
    z-index: 10;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

#gachaDetail .carousel-btn.left {
    left: 10px;
}

#gachaDetail .carousel-btn.right {
    right: 10px;
}
