.gachaPDCard {
  align-items: center;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  transition: transform 0.3s ease-in-out;
}

#gachaPDCard .product-card {
  width: 300px;
  height: 300px;
  background-image: url("../img/扭蛋.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  transition: opacity 0.3s ease-in-out;
}


#gachaPDCard .product-card:hover {
  background-image: url("../img/扭蛋2.jpg");
}

/* 商品名稱 */
#gachaPDCard .product-name {
  color: #365b6d;
  text-align: center;
  margin: 5px;
  width: 100%;
}

/* 心形按鈕 */
#gachaPDCard .heart-icon {
  position: absolute;
  margin-top: 15px;
  margin-left: 20px;
  cursor: pointer;
}

#gachaPDCard .heart {
  filter: grayscale(100%);
  transition: color 0.3s ease;
  width: 80%;
}


#gachaPDCard .heart.active {
  filter: var(--red-filter);
}

/* 一翻賞商品卡 */
#pdcard {
  display: inline-block;
  width: 300px;
  margin: 10px 15px 0 15px;
}

#pdcard .cards {
  position: relative;
  width: 300px;
  height: 450px;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

/* 商品圖片 */
#pdcard .product-card {
  background-color: bisque;
  position: relative;
  border-radius: 50px 50px 0 0;
  object-fit: cover;
  width: 300px;
  height: 300px;
  margin: 0;
  z-index: 3;
}


/* 獎品與價格資訊 */
#pdcard .price-info {
  background-color: #f2f1ec;
  border-radius: 0 0 50px 50px;
  position: relative;
  z-index: 1;
  width: 300px;
  top: -90px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#pdcard .cards:hover .price-info {
  transform: translateY(75px);
  opacity: 1;
}

/* 價格與描述 */
#pdcard .price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  color: #365b6d;
}

#pdcard .price-row h4 {
  margin: 0;
  font-size: 24px;
  padding: 20px;
}

#pdcard .price-row p {
  font-size: 14px;
  text-align: right;
  padding-bottom: 1px;
  padding-top: 20px;
}

#pdcard .price-info .details ul {
  padding: 10px;
  margin: 0;
}

#pdcard .price-info .details ul li {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 14px;
  color: #365b6d;
  list-style: none;
  line-height: 5px;

}

/* 商品名稱 */
#pdcard .product-name {
  position: relative;
  color: var(--main-bg-gray);
  text-align: center;
  top: -70px;
}

/* 心型 */
#pdcard .heart-icon {
  position: absolute;
  cursor: pointer;
  margin-top: -280px;
  margin-left: 20px;
  z-index: 100;
}

#pdcard .heart {
  filter: grayscale(100%);
  transition: color 0.3s ease;
  width: 80%;
}


#pdcard .heart.active {
  filter: var(--red-filter);
}


/* RWD 媒體查詢 */
/* @media (max-width: 768px) {
  #pdcard .cards {
    width: 90%;
    height: 600px;
  }

  #pdcard .product-image {
    height: 64%;
    width: 89.5%;
    align-items: center;
    transform: translate(6%, 0);
  }

  #pdcard .price-info {
    width: 89%;
  }

  #pdcard .price-info .details ul li {
    font-size: 16px;

  }

  #pdcard .price-row h4 {
    font-size: 20px;
  }

  #pdcard .price-row p {
    font-size: 16px;

  }

  #pdcard .product-name {
    font-size: 25px;
    top: 18em;
  }
} */
