/*大輪播*/
#gachaHome .carouselimgsize {
    width: 80vw;
    margin-left: auto;
    padding: 50px 0 0 0;
}

#gachaHome .bigcarousel img {
    height: 70vh;
    object-fit: cover;
    border-radius: 100px 0 0 100px;
}

/*小輪播*/
#gachaHome .smallcarousel {
    background-color: #636363;
    height: 15vh;
    width: 90vw;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#gachaHome .smallcarouselimg {
    height: 10vh;
    width: 10vw;
    object-fit: cover;
    background-color: #FEC265;
    margin-right: 50px;
    border-radius: 30px;
    transition: transform 0.3s ease;
    border: #F2F1EC solid 2px;
}

#gachaHome .smallcarouselimg:hover {
    transform: scale(1.05);
}

/*標籤連結*/
#gachaHome .labelitem {
    height: 10vh;
    width: 100vw;
    border-radius: 30px;
}

#gachaHome .itemtag {
    height: 50px;
    width: 10vw;
    background-color: #FEC265;
    margin: 50px 50px 50px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gachaHome .itemtag.ms-1:hover {
    background-color: #365B60;
}

#gachaHome a.itemtag {
    text-decoration: none;
    color: #365B60;
}

#gachaHome a.itemtag.ms-1:hover {
    text-decoration: none;
    color: #F2F1EC;
}

/*Title*/
.gachaTitle {
    text-align: center;
    margin: 50px;
    color: var(--main-darkblue);
}


/*top30區域*/
#gachaHome .top30 {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50vh;

    h3 {
        text-align: center;
        color: var(--main-darkblue);
    }
}

#gachaHome .top30BigProduct {
    height: 50vh;
    margin: 0 50px 0 30px;
    background-color: #FEC265;
    border-radius: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100px;
    }
}

#gachaHome .top30ProductImg {
    background-color: #FEC265;
    height: 40vh;
    width: 300px;
    border-radius: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100px;
    }
}

#gachaHome .top30ProductText {
    font-size: 24px;
    color: var(--main-darkblue);
    margin: 10px;
    width: 300px;
}

#gachaHome .carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 90%;
    height: 50vh;
    padding: 0;
    margin: 0;
}

#gachaHome .carousel-items {
    display: flex;
    transition: transform 0.3s ease;
}

#gachaHome .top10item {
    width: 100%;
    height: 90%;
    text-align: center;
    box-sizing: border-box;
}

/*扭蛋牆*/
#gachaHome .scroll-container {
    width: 100%;
    margin: 50px 0 50px 0;
    background-color: var(--main-yellow);
    padding: 20px 0 20px 0;

}

/* 設定每排滾動區域 */
#gachaHome .scroll-row {
    overflow: hidden;
    margin-bottom: 20px;

}

/* 設定滾動內容樣式 */
#gachaHome .scroll-content {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-horizontal 15s linear infinite;
}

/* 設定每個項目 */
#gachaHome .GachaWall {
    position: relative;
    min-width: 200px;
    height: 300px;
    box-shadow: 1px 5px 5px #a3a1a1;
    background-color: #f3f4f0;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

#gachaHome .GachaWall img {
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(50%);
    transition: filter 0.5s ease;
}

#gachaHome .img1 {
    z-index: 1;
    width: 100%;
    height: 100%;
}

#gachaHome .img2 {
    z-index: 0;
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 30px;
}

#gachaHome .GachaWall img:hover {
    filter: grayscale(0%);
}

#gachaHome .top30 .heart-icon {
    width: 50px;
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
    cursor: pointer;
    z-index: 100;
}

#gachaHome .top30 .heart {
    filter: grayscale(100%);
    transition: color 0.3s ease;
    width: 80%;
}

#gachaHome .top30 .heart.active {
    filter: var(--red-filter);
}

/* 無縫滾動動畫 */
@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* 滑鼠懸停時暫停動畫 */
#gachaHome .scroll-row:hover .scroll-content {
    animation-play-state: paused;
}

.molly3 {
    transform: translate3d(-400px, 0px, -300px) scale(0.3);
    ;
    transition: transform 5s ease;
    perspective: 1000px;
    cursor: pointer;
}

.molly3:hover {
    transform: translate3d(150px, 80px, 0) scale(1);
    cursor: pointer;
}

.molly3.active {
    transform: translate3d(150px, 80px, 0) scale(1);
    cursor: pointer;
}

#gachaHome .mollyClick:hover {
    background-color: var(--main-bg-gray);
    color: var(--main-darkblue);
}

/* 輪播容器樣式 */
#gachaHome .carousel-wrapper {
    display: flex;
    overflow: hidden;
}

#gachaHome .itembottom {
    flex: 0 0 auto;
    width: auto;
    padding: 10px;
    box-sizing: border-box;
}

/* 按鈕樣式 */

#gachaHome .texttext {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: "block";
}

#gachaHome .item {
    text-align: center;

}
