/* 按鈕設置 */
#homepage .custom-btn {
    display: flex;
    /* border: 5px solid red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--main-bg-gray);
    color: var(--main-darkblue);
    width: 200px;
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    transition: background-color 0.5s ease, color 0.5s ease;
    cursor: pointer;
}

#homepage .custom-btn:hover {
    color: var(--main-darkblue);
    background-color: var(--main-yellow);


}

/* 首頁開頭畫面 */

#home {
    /* border: 5px solid red; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    position: relative;
    height: 160vh;

}

#home .custom-btn {
    /* grid-row: 1; */
    align-items: center;
    position: relative;

}

#home>.clouds>.mycontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: calc(100vw * 0.35);
    gap: 3rem;

}

#button1,
#button2 {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#homepage .show-buttons {
    display: inline-block;
    opacity: 1;
    transition: background-color 0.5s ease, color 0.5s ease;
    z-index: 999;
}

/* 雲朵 */
#homepage .clouds {
    display: flex;
}

#homepage .clouds img {
    position: absolute;
    width: 100%;
}


#homepage .l_cloud {
    position: relative;
    z-index: 10;
}

#animation1 {
    position: relative;
    left: 0;
    width: 100%;
    background: your-background-color;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    transition: transform 0.1s ease-out;
}

#animation2 {
    width: 100%;
}

@media (max-width: 1054px) {
    #homepage .desc_form.show {
        height: 110vh !important;
        /* border: 5px solid red; */
        /* 螢幕較小時調整為更小的高度 */
    }


    /* ab1 */
    #homepage .ab1 {
        position: relative;
        z-index: 1;
        width: 60vw;
        align-items: center;
        top: calc(100vw * 0.06);
        max-width: 100%;
    }



    /* 覆盖文字样式 */
    #homepage .text-overlay1 {
        position: absolute;
        z-index: 3;
        width: 320px;
        top: 20%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        line-height: 32px !important;
        border-radius: 5px;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay2 {
        position: absolute;
        z-index: 3;
        top: 50%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        padding: 10px 20px;
        line-height: 32px !important;
        border-radius: 5px;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay3 {
        position: absolute;
        z-index: 3;
        top: 80%;
        /* 垂直居中 */
        left: 69% !important;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        border-radius: 5px;
        width: 280px !important;
        line-height: 32px !important;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .abimg {
        position: absolute;
        top: 120px !important;
        left: 150px !important;
        width: 25%;
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 3s ease-in-out infinite;
        /* 動態效果 */
    }

    #homepage .abimg2 {
        position: absolute;
        top: 580px !important;
        left: 100px !important;
        width: 25%;
        /* border: 5px solid red; */
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 4s ease-in-out infinite !important;
        /* 動態效果 */
    }

    #homepage .wave-container,
    #homepage .wave-container2 {
        display: flex;
        /* 啟用 Flexbox */
        flex-direction: column;
        /* 垂直排列 */
        align-items: center;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        text-align: center;
        /* 確保文本本身居中 */
    }

    #homepage .wave-container h1,
    #homepage .wave-container2 h1 {
        font-size: 2.2rem !important;
        text-align: center;
        margin-bottom: 50px !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container h3,
    #homepage .wave-container2 h3 {
        font-size: 1.8rem !important;
        font-weight: 400;
        margin-top: 10px !important;
        text-align: left;
        margin: 0 auto !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container p,
    #homepage .wave-container2 p {
        font-size: 1.5rem !important;
        width: 400px !important;
        margin: 10px 0 !important;
        /* 上下間距 */
        text-align: left !important;
        /* 文本置中 */
    }

    #homepage .text-container {
        top: 50% !important;
        width: 30%;
        /* 讓容器寬度更適應手機螢幕 */
    }

    #homepage .text-container h3 {
        margin: 0;
        font-size: 20px !important;
        color: white !important;
    }

    #homepage .text-container p {
        margin: 10px 0;
        font-size: 14px !important;
        width: 400px;
        color: white !important;
    }


}

@media (max-width: 992px) {
    #home {
        height: 100vh;
    }

    #homepage .custom-btn {
        font-size: 1rem;
        width: 200px;
    }

    #homepage .scroll-hint {
        visibility: hidden;
    }

    #homepage .wave-container,
    #homepage .wave-container2 {
        display: flex;
        /* 啟用 Flexbox */
        flex-direction: column;
        /* 垂直排列 */
        align-items: center;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        text-align: center;
        /* 確保文本本身居中 */
    }

    #homepage .wave-container h1,
    #homepage .wave-container2 h1 {
        font-size: 2.2rem !important;
        text-align: center;
        margin-bottom: 50px !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container h3,
    #homepage .wave-container2 h3 {
        font-size: 1.8rem !important;
        font-weight: 400;
        margin-top: 10px !important;
        text-align: left;
        margin: 0 auto !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container p,
    #homepage .wave-container2 p {
        font-size: 1.5rem !important;
        width: 400px !important;
        margin: 10px 0 !important;
        /* 上下間距 */
        text-align: left !important;
        /* 文本置中 */
    }

    #homepage .text-container {
        position: relative;
        /* 使用絕對定位 */
        top: -50% !important;
        width: 50%;
        /* border: 5px solid rgb(102, 201, 107); */
    }

    #homepage .desc_form.show {
        height: 100vh !important;
        /* 螢幕較小時調整為更小的高度 */
    }


    /* ab1 */
    #homepage .ab1 {
        position: relative;
        z-index: 1;
        width: 60vw;
        top: calc(100vw * 0.06);
        max-width: 100%;
    }

    #homepage .ab1 img {
        width: 100%;
        height: auto;
        display: block;
    }

    #homepage .abimg {
        position: absolute;
        top: 120px !important;
        left: 120px !important;
        width: 25%;
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 3s ease-in-out infinite;
        /* 動態效果 */
    }

    #homepage .abimg2 {
        position: absolute;
        top: 520px !important;
        left: 90px !important;
        width: 25%;
        /* border: 5px solid red; */
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 4s ease-in-out infinite !important;
        /* 動態效果 */
    }

    /* 覆盖文字样式 */
    #homepage .text-overlay1 {
        position: absolute;
        z-index: 3;
        width: 320px;
        top: 20%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        line-height: 32px !important;
        border-radius: 5px;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay2 {
        position: absolute;
        z-index: 3;
        top: 50%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        padding: 10px 20px;
        line-height: 32px !important;
        border-radius: 5px;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay3 {
        position: absolute;
        z-index: 3;
        top: 80%;
        /* 垂直居中 */
        left: 69% !important;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        border-radius: 5px;
        width: 280px !important;
        line-height: 32px !important;
        font-size: 20px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-container {
        top: 120% !important;
        width: 30%;
        /* 讓容器寬度更適應手機螢幕 */
    }

    #homepage .text-container h3 {
        margin: 0;
        font-size: 30px !important;
        color: var(--main-darkblue) !important;
    }

    #homepage .text-container p {
        margin: 10px 0;
        font-size: 20px !important;
        width: 400px;
        color: var(--main-darkblue) !important;
    }

}

@media (max-width: 768px) {
    #home {
        height: 70vh;
    }

    #homepage .custom-btn {
        font-size: 0.9rem;
        width: 180px;
        top: calc(100vw * 0.02);
    }

    #homepage .scroll-hint {
        visibility: hidden;
    }

    #homepage .wave-container,
    #homepage .wave-container2 {
        display: flex;
        /* 啟用 Flexbox */
        flex-direction: column;
        /* 垂直排列 */
        align-items: center;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        text-align: center;
        /* 確保文本本身居中 */
    }

    #homepage .wave-container h1,
    #homepage .wave-container2 h1 {
        font-size: 2.2rem !important;
        text-align: center;
        margin-bottom: 50px !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container h3,
    #homepage .wave-container2 h3 {
        font-size: 1.8rem !important;
        font-weight: 400;
        margin-top: 10px !important;
        text-align: center;
        margin: 0 auto !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container p,
    #homepage .wave-container2 p {
        font-size: 1.5rem !important;
        width: 400px !important;
        margin: 10px 0 !important;
        /* 上下間距 */
        text-align: center !important;
        /* 文本置中 */
    }

    #homepage .text-container {
        position: relative;
        /* 使用絕對定位 */
        top: -40% !important;
        width: 50%;
        /* border: 5px solid rgb(102, 201, 201); */
    }


    #homepage .desc_form.show {
        height: 80vh !important;
        /* 螢幕較小時調整為更小的高度 */
    }


    /* ab1 */
    #homepage .ab1 {
        position: relative;
        z-index: 1;
        width: 60vw;
        top: calc(100vw * 0.06);
        max-width: 100%;
    }

    #homepage .ab1 img {
        width: 100%;
        height: auto;
        display: block;
    }

    #homepage .abimg {
        position: absolute;
        top: 90px !important;
        left: 90px !important;
        /* border: 5px solid red; */
        width: 25%;
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 3s ease-in-out infinite;
        /* 動態效果 */
    }

    #homepage .abimg2 {
        position: absolute;
        top: 390px !important;
        left: 80px !important;
        width: 25%;
        /* border: 5px solid red; */
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 4s ease-in-out infinite !important;
        /* 動態效果 */
    }

    /* 覆盖文字样式 */
    #homepage .text-overlay1 {
        position: absolute;
        z-index: 3;
        width: 250px;
        top: 20%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        line-height: 22px !important;
        border-radius: 5px;
        font-size: 14px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay2 {
        position: absolute;
        z-index: 3;
        top: 50%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        padding: 10px 20px;
        line-height: 22px !important;
        border-radius: 5px;
        font-size: 14px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay3 {
        position: absolute;
        z-index: 3;
        top: 80%;
        /* 垂直居中 */
        left: 69% !important;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        border-radius: 5px;
        width: 230px !important;
        line-height: 22px !important;
        font-size: 14px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-container {
        top: 120% !important;
        width: 30%;
        /* 讓容器寬度更適應手機螢幕 */
    }

    #homepage .text-container h3 {
        margin: 0;
        font-size: 20px !important;
        color: var(--main-darkblue) !important;
    }

    #homepage .text-container p {
        font-size: 0.5rem !important;
        /* 進一步縮小字體 */
        width: 30%;
        line-height: 1.5 !important;
        color: white !important;
        margin-bottom: 50px !important;
    }

}

@media (max-width: 576px) {
    #home {
        height: 0vh;
    }

    #homepage .custom-btn {
        font-size: 0.9rem;
        width: 140px;
        top: 0px;
    }

    #homepage .scroll-hint {
        visibility: hidden;
    }

    #homepage .wave-container,
    #homepage .wave-container2 {
        display: flex;
        /* 啟用 Flexbox */
        flex-direction: column;
        /* 垂直排列 */
        align-items: center;
        /* 水平置中 */
        justify-content: center;
        /* 垂直置中 */
        text-align: center;
        /* 確保文本本身居中 */
    }

    #homepage .wave-container h1,
    #homepage .wave-container2 h1 {
        font-size: 2.2rem !important;
        text-align: center;
        margin-bottom: 50px !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container h3,
    #homepage .wave-container2 h3 {
        font-size: 1.8rem !important;
        font-weight: 400;
        margin-top: 10px !important;
        text-align: center;
        margin: 0 auto !important;
        /* 水平置中 */
        padding: 0 !important;
        /* 清除內邊距 */
    }

    #homepage .wave-container p,
    #homepage .wave-container2 p {
        font-size: 1.5rem !important;
        width: 400px !important;
        margin: 10px 0 !important;
        /* 上下間距 */
        text-align: center !important;
        /* 文本置中 */
    }

    #homepage .pdinfo {
        margin-top: -0% !important;
        width: 50%;
        /* border: 5px solid red; */
    }

    #homepage .text-container {
        /* border: 5px solid red; */
        margin-top: -50%;
        top: 400px !important;
        width: 40%;
        line-height: 1.5 !important;
        /* 讓容器寬度更適應手機螢幕 */
    }

    #homepage .text-container h3 {
        visibility: hidden;
    }

    #homepage .text-container p {
        visibility: hidden;
    }


    #button3 {
        margin-top: 1rem;
        margin-bottom: -10% !important;
    }

    #button4 {
        margin-top: -1rem;
        margin-bottom: -10% !important;
    }

    #homepage .desc_form.show {
        height: 60vh !important;
        /* border: 5px solid red; */
        /* 螢幕較小時調整為更小的高度 */
    }


    /* ab1 */
    #homepage .ab1 {
        position: relative;
        z-index: 1;
        width: 60vw;
        top: calc(100vw * 0.06);
        max-width: 100%;
    }

    #homepage .ab1 img {
        width: 100%;
        height: auto;
        display: block;
    }

    #homepage .abimg {
        position: absolute;
        /* border: 5px solid red; */
        top: 60px !important;
        left: 80px !important;
        width: 25%;
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 5s ease-in-out infinite;
        /* 動態效果 */
    }

    #homepage .abimg2 {
        position: absolute;
        top: 290px !important;
        left: 60px !important;
        width: 25%;
        z-index: 2;
        /* 使 abimg 在 ab1 上層 */
        animation: slide-up-down 4s ease-in-out infinite !important;
        /* 動態效果 */
    }

    /* 覆盖文字样式 */
    #homepage .text-overlay1 {
        position: absolute;
        z-index: 3;
        width: 180px;
        top: 20%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        line-height: 15px !important;
        border-radius: 5px;
        font-size: 11px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay2 {
        position: absolute;
        z-index: 3;
        top: 50%;
        /* 垂直居中 */
        left: 50%;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        padding: 10px 20px;
        line-height: 15px !important;
        border-radius: 5px;
        font-size: 11px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

    #homepage .text-overlay3 {
        position: absolute;
        z-index: 3;
        top: 80%;
        /* 垂直居中 */
        left: 69% !important;
        /* 水平居中 */
        transform: translate(-50%, -50%);
        /* 将文字居中对齐 */
        color: white;
        /* 文字颜色 */
        border-radius: 5px;
        width: 200px !important;
        line-height: 15px !important;
        font-size: 11px !important;
        /* 根据需要调整文字大小 */
        text-align: center;
        pointer-events: none;
        /* 避免文字阻止点击图片 */
    }

}

/* 固定右下角的文字樣式 */
#home>.scroll-hint {
    position: absolute;
    /* border: 5px solid red; */
    top: calc(100vw * 0.42);
    /* 使用視窗高度 */
    right: 0;
    color: #365b6d;
    display: flex;
    z-index: 1000;
}

#homepage .scroll-hint p {
    font-size: 1.4rem;
    display: inline-block;
    animation: bounceText 1s infinite ease-in-out;
    /* 文字跳動動畫 */
}

@keyframes bounceText {

    0%,
    100% {
        transform: translateY(0);
        /* 初始位置 */
    }

    50% {
        transform: translateY(-10px);
        /* 上移 */
    }
}

/* 箭頭樣式 */
#homepage .scroll-hint .arrow img {
    width: 55px;
    /* 你可以根據需要調整大小 */
    margin-left: 1px;
    /* 距離文字的間隔 */
    transform: rotate(180deg);
    /* 旋轉 180 度 */
}



/* 選轉按鈕 */
#rotate {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 0;
    justify-content: flex-start;
    position: absolute;
    align-items: center;
    /* border: 5px solid red; */
    background-color: var(--main-darkblue);
    transition: height 0.3s ease;
    top: calc(100vw * 0.65);

}

#rotate-icon {
    /* border: 5px solid red; */
    cursor: pointer;
    width: 12vw;
    position: absolute;
    align-items: center;
    z-index: 10;
    transition: transform 1s ease;

}

#homepage .rotate {
    animation: rotateAnimation 1s linear forwards;
}

#homepage .reverse-rotate {
    animation: reverseRotateAnimation 1s linear forwards;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverseRotateAnimation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* 選轉後的表格 */
#homepage .desc_form {
    position: relative;
    display: none;
    width: 80vw;
    height: 0;
    padding: 0;
    top: calc(100vw * 0.06);
    border-radius: 100px;
    background-color: #d6eef6;
    display: flex;
    justify-content: center;
    align-items: self-start;
    overflow: hidden;
    /* border: 5px solid red; */
    transition: height 0.3s ease;
    border-top: 5px dotted var(--main-darkblue);
}

/* 覆盖文字样式 */
#homepage .text-overlay1 {
    position: absolute;
    z-index: 3;
    top: 18%;
    /* 垂直居中 */
    left: 50%;
    /* 水平居中 */
    transform: translate(-50%, -50%);
    /* 将文字居中对齐 */
    color: white;
    /* 文字颜色 */
    padding: 10px 20px;
    line-height: 70px;
    border-radius: 5px;
    font-size: 30px;
    /* 根据需要调整文字大小 */
    text-align: center;
    pointer-events: none;
    /* 避免文字阻止点击图片 */
}

#homepage .text-overlay2 {
    position: absolute;
    z-index: 3;
    top: 46%;
    /* 垂直居中 */
    left: 50%;
    /* 水平居中 */
    transform: translate(-50%, -50%);
    /* 将文字居中对齐 */
    color: white;
    /* 文字颜色 */
    padding: 10px 20px;
    border-radius: 5px;
    line-height: 70px;
    font-size: 30px;
    /* 根据需要调整文字大小 */
    text-align: center;
    pointer-events: none;
    /* 避免文字阻止点击图片 */
}

#homepage .text-overlay3 {
    position: absolute;
    z-index: 3;
    top: 77%;
    /* 垂直居中 */
    left: 66%;
    /* 水平居中 */
    transform: translate(-50%, -50%);
    /* 将文字居中对齐 */
    color: white;
    /* 文字颜色 */
    /* padding: 0px 20px; */
    line-height: 70px;
    border-radius: 5px;
    font-size: 30px;
    ;
    /* 根据需要调整文字大小 */
    text-align: center;
    pointer-events: none;
    /* 避免文字阻止点击图片 */
}

/* abimg: 會覆蓋在 ab1 上層 */
#homepage .abimg {
    position: absolute;
    top: 180px;
    left: 250px;
    width: 15%;
    z-index: 2;
    /* 使 abimg 在 ab1 上層 */
    animation: slide-up-down 3s ease-in-out infinite;
    /* 動態效果 */
}

@keyframes slide-up-down {

    0%,
    100% {
        transform: translateY(0);
        /* 初始位置 */
    }

    50% {
        transform: translateY(-20px);
        /* 向上移動 */
    }
}

/* 确保兼容老浏览器 */
@-webkit-keyframes slide-up-down {

    0%,
    100% {
        transform: translateY(0);
        /* 初始位置 */
    }

    50% {
        transform: translateY(-20px);
        /* 向上移動 */
    }
}

.abimg {
    -webkit-animation: slide-up-down 3s ease-in-out infinite;
}

/* abimg2: 會覆蓋在 ab3 上層 */
#homepage .abimg2 {
    position: absolute;
    top: 1050px;
    left: 220px;
    width: 25%;
    z-index: 2;
    /* 使 abimg 在 ab1 上層 */
    animation: slide-up-down 3s ease-in-out infinite;
    /* 動態效果 */
}

.abimg2 {
    -webkit-animation: slide-up-down 3s ease-in-out infinite;
}

#homepage .desc_form.show {
    height: 200vh;
    opacity: 1;
}

/* ab1 */
#homepage .ab1 {
    position: relative;
    z-index: 1;
    width: 60vw;
    top: calc(100vw * 0.06);
    max-width: 100%;
}

#homepage .ab1 img {
    width: 100%;
    height: auto;
    display: block;
}



/* 一翻賞curve 背景/ 內容 */
#homepage .wave-container {
    background-color: var(--main-bg-gray);
    color: var(--main-darkblue);
    /* border: 1px solid red; */
    margin-bottom: 0;
    padding: 5em;

}

#homepage .lower-curve svg {
    /* border: 1px solid red; */
    background-color: var(--main-bg-gray);
    /* margin-top: 20px; */
    display: block;
}

#homepage .upper-curve svg {
    /* border: 1px solid red; */
    margin-top: 15vh;
    display: block;
}

/* 一翻賞動畫 */
#homepage .container1 {
    margin-top: 20px;
    position: relative;
    transition: margin-top 0.3s ease;
    /* border: 5px solid red; */
}

#homepage .sticky-top {
    /* position: relative; */
    /* transform: translateY(-50%); */
    width: 100%;
    /* display: flex; */
    justify-content: center;
}

#homepage .img-fluid {
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;

}

#homepage .wave-container {
    background-color: var(--main-bg-gray);
    color: var(--main-darkblue);
    /* border: 1px solid red; */
    margin-bottom: 0;
    padding: 5em;

}

#homepage .wave-container .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-darkblue);
}


#homepage .wave-container h3.ti-content {
    font-size: 2.5rem;
    /* 顯著的標題大小 */
    color: var(--main-darkblue);
    margin-left: 50px;
    margin-bottom: 30px;
    /* 與段落之間的間距 */
    margin-top: 100px;
    /* 與段落之間的間距 */
    line-height: 1.7;
    /* 增加行距 */
}

#homepage .wave-container p.ti-content {
    font-size: 1.8rem;
    /* 段落字體稍小 */
    width: 90%;
    margin-left: 50px;
    font-weight: normal;
    /* 正常字體 */
    color: var(--main-darkblue);
    /* 柔和白色 */
    margin-top: 10px;
    /* 與標題的間距 */
    line-height: 2;
    /* 增加行距以提高可讀性 */
}


/* animation */
#homepage .from-bottom {
    /* grid-column: 2 / 3; */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#homepage .from-left {
    /* grid-column: 2 / 3; */
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#homepage .from-right {
    /* grid-column: 3 / 4; */
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

#homepage .from-left,
#homepage .from-right,
#homepage .from-bottom {
    transition: opacity 400ms ease-in-out, -webkit-transform 100ms ease-in-out;
    transition: opacity 400ms ease-in-out, transform 100ms ease-in-out;
    transition: opacity 400ms ease-in-out, transform 100ms ease-in-out,
        -webkit-transform 400ms ease-in-out;
    opacity: 0;
}

#homepage .from-left.appear,
#homepage .from-right.appear {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

#homepage .from-bottom.appear {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

/* 商品 promote 1 */
#homepage .pdinfo {
    position: relative;
    display: flex;
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    flex-direction: column;
    /* 子元素垂直排列 */
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#homepage .pdinfo img {
    width: 100%;
    height: auto;
    position: relative;
}

#homepage .text-container {
    position: absolute;
    display: flex;
    /* 使用flexbox來排版 */
    flex-direction: column;
    /* 垂直排列 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    top: 50%;
    left: 50%;
    line-height: 25px;
    transform: translate(-50%, -50%);
    /* 完全水平和垂直居中 */
    text-align: center;
    /* 文字水平居中 */
    z-index: 1;
    color: white;
}

#homepage .text-container h3 {
    margin: 0;
    font-size: 35px !important;
    padding: 50px;
    width: 500px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

#homepage .text-container p {
    margin: 10px 0;
    line-height: 2;
    font-size: 22px !important;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

#button3 {
    margin-top: 20px;
    padding: 10px 20px;
    /* border: 5px solid red; */
    font-size: 16px;
    background-color: #f2f1ec;
    color: #365b60;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#button3:hover {
    background-color: #365b60;
    color: #f2f1ec;
}


/* 扭蛋頁面 */
#homepage .wave-container2 {
    background-color: var(--main-yellow);
    color: var(--main-darkblue);
    /* border: 1px solid red; */
    margin-bottom: 0;
    padding: 5em;
}

#homepage .wave-container2 .title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    color: var(--main-darkblue);

}


#homepage .wave-container2 h3.ti-content {
    font-size: 2.5rem;
    /* 顯著的標題大小 */
    color: var(--main-darkblue);
    margin-left: 50px;
    margin-bottom: 30px;
    /* 與段落之間的間距 */
    margin-top: 220px;
    /* 與段落之間的間距 */
    line-height: 1.7;
    /* 增加行距 */
}

#homepage .wave-container2 p.ti-content {
    font-size: 1.8rem;
    /* 段落字體稍小 */
    width: 90%;
    margin-left: 50px;
    font-weight: normal;
    /* 正常字體 */
    color: var(--main-darkblue);
    margin-top: 10px;
    /* 與標題的間距 */
    line-height: 2;
    /* 增加行距以提高可讀性 */
}


#homepage .lower-curve2 svg {
    /* border: 1px solid red; */
    background-color: var(--main-darkblue);
    margin-top: -2px;
    display: block;
}

#homepage .upper-curve2 svg {
    /* border: 1px solid red; */
    margin-top: 15vh;
    display: block;
}



#button4 {

    position: absolute;
    /* 使用絕對定位 */
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5 solid red; */
}



#animation3 {
    margin-top: -50px;
}

#animation4 {
    margin-top: -100px;
}