body #lottrybody {
	background-color: var(--main-darkblue);
}

/*上方banner區域*/
#lottryHome .scroll-x {
	max-width: 100%;
	height: 75vh;
	overflow-x: auto;
	overflow: hidden;
	overscroll-behavior-x: contain;
}

#lottryHome .carousel-btn {
	background-color: none;
	height: 50px;
	position: absolute;
	z-index: 10;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 50%;
}

#lottryHome .carousel-btn.left {
	left: 10px;

}

#lottryHome .carousel-btn.right {
	right: 10px;
}

#lottryHome .wrapper {
	--size: 100vw;
	--gutter: 2rem;
	--gap: 0rem;
	scroll-snap-type: x mandatory;
	display: flex;
	padding-block: var(--gutter);
	align-items: center;
	grid-template-columns:
		[full-start] 1fr [content-start] min(var(--size), 100% - var(--gutter) * 2) [content-end] 1fr [full-end];
}

#lottryHome .items {
	grid-area: content;
	display: flex;
	gap: var(--gap);
	transition: transform 0.3s ease-in-out;
	padding: 0;
	width: max-content;
	overflow: hidden;

	>li {
		list-style-type: none;
		padding-left: 0;
	}

	img {
		border-radius: 40px;
		width: 75vw;
		height: 70vh;
		object-fit: cover;
	}

	&::after {
		content: "";
		padding-inline-end: max(var(--gutter),
				(100vw - var(--size)) / 2 - var(--gutter));
	}

	>* {
		display: grid;
		place-content: center;
		flex-shrink: 0;
		inline-size: var(--size);
		block-size: 100vh;
		scroll-snap-align: center;
		color: white;
		background-color: var(--color-fg);
	}
}

@supports (animation-timeline: view()) {
	.items>* {
		--scale: 0.9;
		--offset: 0;
		animation: scale linear both, fade linear both;
		animation-timeline: view(inline);
		animation-range: cover 30% cover 70%, cover 5% cover 95%;
	}

	@keyframes scale {

		from,
		to {
			scale: var(--scale);
		}

		50% {
			scale: 1;
		}

		from {
			translate: var(--offset) 0;
		}

		to {
			translate: calc(var(--offset) * -1) 0;
		}
	}

	@keyframes fade {

		from,
		to {
			opacity: 0;
		}

		10%,
		90% {
			opacity: 1;
		}
	}
}

/*標籤連結*/
#lottryHome .labelitem {
	height: 10vh;
	width: 100vw;
	border-radius: 30px;
}

#lottryHome .itemtag {
	color: var(--main-darkblue);
	height: 50px;
	width: 10vw;
	background-color: var(--main-bg-gray);
	margin: 50px 50px 50px 0;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#lottryHome .itemtag:hover {
	background-color: var(--main-yellow);
	cursor: pointer
}

#lottryHome .itemtag a {
	text-decoration: none;
	color: #365B60;
}

#lottryHome .itemtag a:hover {
	text-decoration: none;
	color: var(--main-darkblue)
}

/*Title*/
.lottryTitle {
	text-align: center;
	margin: 50px;
	color: var(--main-bg-gray);
}


/*top30區域*/
#lottryHome .top30 {
	position: relative;
	align-items: center;
	justify-content: center;
	height: 50vh;

	h3 {
		text-align: center;
		color: var(--main-bg-gray);
	}
}

#lottryHome .top30BigProduct {
	height: 50vh;
	margin: 0 50px 0 30px;
	background-color: #FEC265;
	border-radius: 50px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50px;
	}
}

#lottryHome .top30ProductImg {
	background-color: #FEC265;
	height: 40vh;
	width: 300px;
	border-radius: 50px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50px;
	}
}

#lottryHome .top30ProductText {
	font-size: 24px;
	color: var(--main-bg-gray);
	margin: 10px;
	width: 300px;
}

#lottryHome .carousel-wrapper {
	position: relative;
	overflow: hidden;
	width: 90%;
	height: 50vh;
	padding: 0;
	margin: 0;
}

#lottryHome .carousel-items {
	display: flex;
	transition: transform 0.3s ease;
}

#lottryHome .top10item {
	width: 100%;
	height: 90%;
	text-align: center;
	box-sizing: border-box;
}

/*票卷牆*/
#lottryHome .scroll-container {
	width: 100%;
	margin: 50px 0 50px 0;
	background-color: var(--main-bg-gray);
	padding: 50px 0 50px 0;

}

/* 設定每排滾動區域 */
#lottryHome .scroll-row {
	overflow: hidden;
	margin-bottom: 20px;
}

/* 設定滾動內容樣式 */
#lottryHome .scroll-content {
	width: 200%;
	display: flex;
	flex-wrap: nowrap;
}

#lottryHome .scroll-content.top {
	animation: scroll-horizontal 20s linear infinite;
}

#lottryHome .scroll-content.bottom {
	animation: scroll-horizontal 15s linear infinite;
}

/* 設定每個項目 */
#lottryHome .GachaWall {
	position: relative;
	width: 350px;
	height: 200px;
	background-color: none;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	transition: transform 0.3s ease;
}

#lottryHome .GachaWall img {
	position: absolute;
	top: 5px;
	left: 35px;
	filter: grayscale(50%);
	transition: filter 0.5s ease;
}

#lottryHome .img1 {
	z-index: 1;
	width: 50%;
	height: 100%;
	background-color: none;
}

#lottryHome .img2 {
	z-index: 0;
	width: 72%;
	height: 90%;
	object-fit: cover;
	border-radius: 30px;
}

#lottryHome .GachaWall img:hover {
	filter: grayscale(0%);
}

#lottryHome .top30 .heart-icon {
	width: 50px;
	position: absolute;
	margin-top: 3%;
	margin-left: 3%;
	cursor: pointer;
	z-index: 100;
}

#lottryHome .top30 .heart {
	filter: grayscale(100%);
	transition: color 0.3s ease;
	width: 80%;
}

#lottryHome .top30 .heart.active {
	filter: var(--red-filter);
}

/* 無縫滾動動畫 */
@keyframes scroll-horizontal {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

/* 滑鼠懸停時暫停動畫 */
#lottryHome .scroll-row:hover .scroll-content {
	animation-play-state: paused;
}

/*強檔活動*/
@keyframes float {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-30px);
	}
}

/* 底部樣式 */
#lottryHome .texttext {
	width: 100%;
	padding: 0px;
	box-sizing: border-box;
	display: "block";
}

#lottryHome .item {
	text-align: center;
}
